.body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
 
}

.li {
  list-style: none;
}

.header {
  background-color: #4689ff;
  color: #fff;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
　color: #fff;
}

.header-list li {
  float: left;
  padding: 33px 20px;
  list-style: none;
}

 

.main {
  padding: 100px 80px;
　
}

body {
  background: linear-gradient(-130deg, #BAD3FF, #4689ff) fixed;
  height: 100%;
}



.profile {
  list-style: none;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
}


.profile p {
  
  color: #ffffff;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
}
  




.copy-container h1 {
  font-size:100px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  margin-top: 100px;
  padding-left: 20px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  float: left;
  
}

.contents-item {
  float: left;
  margin-right: 40px;
　
 
}

.contents-item p {
  font-size: 50px;
  margin-top: 30px;
　font-weight: 800px;
}

.contact-form {
  padding-top: 100px;
  margin: 50px;
  font-size: 30px;
}


.qanda-contents img{
  float: left;
  padding-left: 25px;
  padding-bottom: 15px;
}

.qanda-contents2 img{
  float: left;
  padding-left: 25px;
  padding-bottom: 25px;
}




/* inputとtextareaのCSSを指定してください */
input,textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;

}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
  

}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  list-style: none;
  padding-bottom: 20px;
}
